@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&family=Roboto:wght@300&family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&family=Roboto:wght@300&display=swap');

@media screen and (min-width: 960px) {
    body {
        font-family: 'Roboto', sans-serif;
        font-size: 22px;
        box-sizing: border-box;
        margin: 0;           
    }

    .logo img {
        height: 50px;
    }

    .form__loca__text {
        border: none;
        background-color: rgb(233, 233, 233);
        box-shadow: 0 5px 5px -5px grey inset;
        font-weight: bold;
        padding: 20px;
        outline: none;
        font-size: 22px;
    }

    .form__loca__icon {
        margin-right: 10px;
        padding: 20px;
    }

    .consigne__titre {
        display: flex;
        justify-content: center;
    }

    .fonction {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .fonction__votrechoix {
        width: 30%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .fonction__votrechoix__num {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 45px;
        height: 45px;
        border: 1px solid;
        border-radius: 50%;
        color: white;
        background-color: #9356dc;
        position: absolute;
        left: -5%;
        top: 25%;
    }

    .contenant {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .contenant__titre {
        width: 100%;
        margin-left: 20px;
        display: flex;
        justify-content: center;
    }

    .contenant__restau {
        width: 45%;
        display: flex;
        flex-direction: column;
        background-color: white;
        border-radius: 20px;
        margin: 20px;
        box-shadow: 6px 6px 6px #e4e4e4;
        position: relative;
    }
}