@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&family=Roboto:wght@300&family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&family=Roboto:wght@300&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    box-sizing: border-box;
    margin: 0;
}

.entete {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.logo img {
    height: 25px;
}

a {
    text-decoration: none;
    color: black;
}

/* ***************************************************** CHARGEMENT DE PAGE  ************************************************* */

#loader {         
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center; 
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background-image: linear-gradient(to top, #9356dc, #ff79da, #99e2d0);
    animation: loader 2s ease 2s forwards;
}

@keyframes loader {
    0% {
        opacity: 1;
        visibility: visible;
      }

    25% {
        opacity: 0.75;
    }
    
    50% {
        opacity: 0.5;
      }

    75% {
        opacity: 0.25;
    }

    100% {
        opacity: 0;
        visibility: hidden;
    }
}

#loader i {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    width: 200px;
    height: 200px;
    background-color: black;
    border-radius: 150px;
    animation: rotation 3s ease, couleur 7s ease;
    transform: scale(1);
    opacity: 0; 
}

@keyframes rotation {
0% {
    transform: scale(1) rotate(0);
    opacity: 1;
}
25% {
    transform: scale(0) rotate(0);
}
50% {
    transform: scale(1) rotate(0);
}
75% {
    transform: scale(1) rotate(360deg);
}
100% {
    transform: scale(1) rotate(360deg);
    opacity: 0;
}
}

@keyframes couleur {
5% {
    color: #9356DC;
}
10% {
    color: #FF79DA;
}
39% {
    color: #FF79DA;
}
40% {
    color: #99E2D0;
}
70% {
    color: #99E2D0;
}
80% {
    color: #9356DC;
}
100% {
    color: #9356DC;
}
}

/* ********************************************************** Formulaire ************************************************* */

.form {
    background-color: #f2f2f2;
    margin-top: 15px;
    padding-bottom: 50px;
}

.form__loca__icon {
    margin-right: 10px;
    padding: 10px 0;
}

.form__loca {
    display: flex;
    justify-content: center;
    background-color: rgb(209, 209, 209);
}

.form__loca__text {
    border: none;
    background-color: rgb(209, 209, 209);
    font-weight: bold;
    padding: 10px 0;
    outline: none;
}

.form__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 30px;
}

.form__text p {
    margin: 0px 0px 30px 0px;
}

.btn {
    border-radius: 50px;
    padding: 15px;
    font-size: 16px;
    color: white;
    border: none; 
}

.btn:hover {
    opacity: 0.8;
    box-shadow: 4px 4px 4px black;
}

.btn__bg {
    background-image: linear-gradient(
        to bottom,
        #ff79da,
        #9356dc
    );
}

/* ********************************************************* Fonctionnement **************************************************** */

.consigne {
    margin: 50px 0;
}

.consigne__titre {
    margin-left: 25px;
}

.fonction {
    display: flex;
    flex-direction: column;
    padding: 25px;
}

.fonction__votrechoix {
    display: flex;
    border-radius: 25px;
    box-shadow: 6px 6px 6px #e4e4e4;
    background-color: #f2f2f2;
    padding: 30px 0;
    margin-bottom: 20px;
    position: relative;
}

.fonction__votrechoix:hover {
    background-color: #f0e5fd;
}

.fonction__votrechoix__num {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border: 1px solid;
    border-radius: 50%;
    color: white;
    background-color: #9356dc;
    position: absolute;
    left: -15px;
    top: 25px;
}

.fonction__votrechoix__icon {
    margin-left: 35px;
    color: gray;
}

.fonction__votrechoix:hover > .fonction__votrechoix__icon {
    color: #9356dc;
}

.fonction__votrechoix__text {
    margin-left: 20px;
    font-weight: 900;
}


/* ******************************************************** Restaurants *************************************************** */
.contenant {
    width: 100%;
    height: auto;
    background-color: #f2f2f2;
    padding: 40px 0px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenant__titre {
    align-self: flex-start;
    margin-left: 30px;
}

.contenant__restau {
    width: 90%;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 20px;
    margin-bottom: 20px;
    box-shadow: 6px 6px 6px #e4e4e4;
    position: relative;
}

.restau__img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.restau__info {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.restau__info__text {
    width: 60%;
}

.restau__info__text h4 {
    margin: 12px 0px;
    padding-left: 12px;
}

.restau__info__text p {
    margin-top: -5px;
    padding-left: 12px;
}

.restau__info__icon {
    width: 40%;
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 20px;
    font-size: 30px;
}

.restau__nouveau {
    position: absolute;
    background-color: #99e2d0;
    color: rgba(0, 0, 0, 0.596);
    border-radius: 5px;
    padding: 8px;
    right: 15px;
    top: 15px;
}

/* **********************************************************  Animation coeur  ********************************************************** */

.heart {
    font-size: 40px;
    z-index: 99;
    position: absolute;
}

.heart:hover {
    animation: fill 1s ease-in-out 1s forwards;
}

.heart__bg {
    font-size: 40px;
    background-image: linear-gradient(
        to top,
        #FF79DA,
        #9356DC
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 0;
    scale: 0;
    transition: scale 3s, opacity 3s;
}

.heart:hover + .heart__bg {
    opacity: 1;
    scale: 1.1;
}

@keyframes fill {
    0% {
        opacity: 1;
    }

    20% {
        opacity: 0.8;
    }

    40% {
        opacity: 0.6;
    }

    60% {
        opacity: 0.4;
    }

    80% {
        opacity: 0.2;
    }

    100% {
        opacity: 0;
    }
}

/* ************************************************************ Footer  *********************************************** */

.bas__de__page {
    display: flex;
    flex-direction: column;
    background-color: rgb(70, 70, 70);
    color: white;
    padding: 0px 0px 20px 25px;
}

ul {
    padding: 0;
}

li {
    list-style-type: none;
    margin-bottom: 15px;
}

li a {
    text-decoration: none;
    color: white;
}

.info__utile {
    display: flex;
}

.info__utile__text {
    margin-left: 10px;
}

.info__utile__icon {
    font-size: 15px;
    width: 18px;
}

#mail {
    text-decoration: none;
    color: white;
}