@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&family=Roboto:wght@300&family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&family=Roboto:wght@300&display=swap');

@media screen and (min-width: 768px) and ( max-width: 1024px) {
    body {
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        box-sizing: border-box;
        margin: 0;           
    }

    h1 {
        font-family: Shrikhand, sans-serif;
        font-size: 38px;
    }
    
    h3 {
        text-transform: uppercase;
        margin-bottom: 5px;
    }
    
    p {
        font-size: 24px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    
    h4 {
        font-size: 26px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        padding-top: 15px;
    }

    #entete {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 18px 0;
    }
    
    #retour {
        width: 10%;
    }
    
    #retour a {
        display: flex;
        justify-content: center;
        width: 100%;
        text-decoration: none;
        color: black;
        padding: 10px 0;
        font-size: 30px;
    }
    
    #logo {
        width: 80%;
        display: flex;
        justify-content: center;
    }
    
    #logo img {
        height: 40px;
    }

    .titre {
        margin-left: 5%;
    }

    .repas__choix {
        display: flex;
        width: 80%;
        height: 110px;
        box-shadow: 6px 6px 6px #e4e4e4;
        margin-bottom: 15px;
        border-radius: 15px;
        background-color: white;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        position: relative;
    }

    .repas__choix:hover .repas__choix__prix {
        padding-right: 15%;
        transition: all 500ms ease-in-out;
    }
    
    .repas__choix__text {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 80%;
        margin-left: 15px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    
    .repas__choix__prix {
        display: flex;
        align-items: flex-end;
        width: 5%;
        margin: 0 20px 20px 30px;
        font-size: 24px;
    }

    .check {
        display: flex;
        justify-content: center;
        align-items: center;
        width:0%;
        height:100%;
        background-color: #99E2D0;
        border-radius: 0 15px 15px 0;
        opacity: 0;
        transition: transform 500ms ease-in-out;
        position: absolute;
        top: 0;
        right: -15%;
    }
    
    .repas__choix:hover > .check {
        width: 15%;
        opacity: 1;
        transform: translate(-100%, 0);
    }

    .check > i {
        display: flex;
        align-items: center;
        font-size: 50px;
        transition: transform 500ms ease-in-out;
        color: white;
    }

    .heart {
        font-size: 50px;
    }

    .heart__bg {
        font-size: 50px;
    }
}
  