@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&family=Roboto:wght@300&family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&family=Roboto:wght@300&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    box-sizing: border-box;
    margin: 0;
}

.entete {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.logo img {
    height: 25px;
}

#loader {         
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center; 
    color: #9356DC;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: rgba(128, 128, 128, 0.795);
    display: none;
}

#loader i {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    width: 200px;
    height: 200px;
    background-color: black;
    border-radius: 150px;
    animation: chargetaille 2.5s ease-in-out, chargecolor 7.5s ease-in-out;
    transform: scale(1);
    opacity: 0; 
}

@keyframes chargetaille {
0% {
    transform: scale(1) rotate(0);
    opacity: 1;
}
25% {
    transform: scale(0) rotate(0);
}
50% {
    transform: scale(1) rotate(0);
}
75% {
    transform: scale(1) rotate(360deg);
}
100% {
    transform: scale(1) rotate(360deg);
    opacity: 0;
}
}

@keyframes chargecolor {
5% {
    color: #9356DC;
}
10% {
    color: #FF79DA;
}
39% {
    color: #FF79DA;
}
40% {
    color: #99E2D0;
}
70% {
    color: #99E2D0;
}
80% {
    color: #9356DC;
}
100% {
    color: #9356DC;
}
}

/* ----------------------------------------------------- */

.form {
    background-color: #f2f2f2;
    margin-top: 15px;
    padding-bottom: 30px;

    &__icon {
        margin-right: 10px;
        padding: 10px 0;
    }

    &__loca {
        display: flex;
        justify-content: center;
        background-color: rgb(209, 209, 209);
    }

    &__text {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding-top: 30px;
    }

    &__btn {
        border-radius: 50px;
        padding: 10px;
        font-size: 16px;
        transition: 0.5s;
        color: white;
        background-size: 200%; 
        border: none;

        &__bg {
            background-image: linear-gradient(
            to bottom,
            #ff79da,
            #9356dc
            );
        }
    }
}

input[type="search"] {
    border: none;
    background-color: rgb(209, 209, 209);
    font-weight: bold;
    padding: 10px 0;
    outline: none;
}

// ********************************************************

nav {
    margin: 50px 0;
}

nav h2 {
    margin-left: 25px;
}

.fonction {
    display: flex;
    flex-direction: column;
    padding: 25px;

    &__votrechoix {
        display: flex;
        border-radius: 25px;
        box-shadow: 6px 6px 6px #e4e4e4;
        background-color: #f2f2f2;
        padding: 30px 0;
        margin-bottom: 20px;
        position: relative;
        
        &:hover {
            background-color: #f0e5fd;
        }

        &__num {
            border: 1px solid;
            border-radius: 25px;
            color: white;
            background-color: #9356dc;
            padding: 5px 10px;
            position: absolute;
            left: -15px;
            top: 25px;
        }

        &__icon {
            margin-left: 35px;
            color: gray;

            &:hover {
                color: #9356dc;
            }
        }

        &__text {
            margin-left: 20px;
            font-weight: 900;
        }
    }
}


/* ------------------------------------------------------ */

.contenant {
    width: 100%;
    height: auto;
    background-color: #f2f2f2;
    padding: 40px 0px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__titre {
        align-self: flex-start;
        margin-left: 20px;
    }
}


.restau {
    width: 90%;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 20px;
    margin-bottom: 20px;
    box-shadow: 6px 6px 6px rgb(233, 232, 232);

    &__img {
        width: 100%;
        height: 200px;
        object-fit: cover;
        border-radius: 20px 20px 0 0;
    }

    &__info {
        display: flex;
        justify-content: space-around;
        width: 100%;
    }

    &__text {
        width: 60%;
    }

    &__icon {
        width: 40%;
        display: flex;
        justify-content: end;
        align-items: center;
        padding-right: 20px;
        font-size: 30px;
    }
}


.restau_text p, h4 {
    margin: 12px 0px;
    padding-left: 12px;
}


/* ------------------------------------------------------------------- */

#bas_de_page {
    display: flex;
    flex-direction: column;
    background-color: rgb(70, 70, 70);
    color: white;
    padding: 0px 0px 20px 20px;
}

ul {
    padding: 0;
}

li {
    list-style-type: none;
    margin-bottom: 15px;
}

.info_icon {
    margin-right: 10px;
}