$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;

$color-shadow: #E4E4E4;

$color-bg: #F2F2F2;
// background-color section and nav //

$color-loca: rgb(209, 209, 209);

$color-footer: rgb(70, 70, 70);